

.aa-footer-top {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #000000;
}



.aa-footer-social a {
    margin: 0 10px;
}

.logo_container .logo {
    font-size: 45px;
}
/*
.active {
    margin-top: 160px;
}*/